<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Gab</title>
    <link rel="stylesheet" href="/static/styles.css">

  </head>
  <body>
    <header>
      <div class="navigation">
        <form class="float" action="/gabhome" method="get">
          <input type="submit" name="" value="Gabble">
        </form>

        <form class="float" action="/creategab" method="get">
          <input type="submit" name="" value="Create a new Gab">
        </form>

        {{#name}}
          <form class="float" action="/signup" method="get">
            <input type="submit" name="" value="Logged in as {{name}}">
          </form>
        {{/name}}

        {{#signedIn}}
          <form class="float" action="/login" method="get">
            <input type="submit" name="" value="Log out">
          </form>
        {{/signedIn}}

        {{^signedIn}}
        <form class="float" action="/login" method="get">
          <input type="submit" name="" value="Log in">
        </form>
        {{/signedIn}}
</div>
    </header>
    <div class="clearFloat"></div>

    <form class="" action="/creategab" method="post">
      <label for="gab">Gab</label>

      <div>
      <textarea name="gab" rows="8" cols="80" maxlength="140" placeholder="max of 140 characters"></textarea>
        </div>
      <div>
        <input type="submit" name="" value="Submit">
      </div>
    </form>


  </body>
</html>
