<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gab Home</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>

        <form class="" action="/gabhome" method="get">
          <input type="submit" name="" value="Gabble">
        </form>

        <form class="" action="/creategab" method="get">
          <input type="submit" name="" value="Create a new Gab">
        </form>

        {{#name}}
          <form class="" action="/signup" method="get">
            <input type="submit" name="" value="Logged in as {{name}}">
          </form>
        {{/name}}

        {{#signedIn}}
          <form class="" action="/login" method="get">
            <input type="submit" name="" value="Log out">
          </form>
        {{/signedIn}}

        {{^signedIn}}
        <form class="" action="/login" method="get">
          <input type="submit" name="" value="Log in">
        </form>
        {{/signedIn}}
    </header>


{{#model}}

<fieldset class="section">
<form class="" action="/addLikes/{{id}}" method="get">
  <p>{{user.name}}: {{text}}
  <span>
    <input type="submit" name="like" value="like" id="{{id}}">
  </form>
  </span>
</p>
  <p>{{createdAt}}
  </p>
  {{#likes}}
  <form class="numOfLikes" action="/likes/{{id}}" method="get">
    <input type="submit" name="" value="{{likes}} like(s)" id="{{id}}">
  </form>
  {{/likes}}
  {{^likes}}
      <span>
  <form class="numOfLikes" action="/viewLikes/{{id}}" method="get">
    <input type="submit" name="" value="no likes yet" id="{{id}}">
  </form>
  {{/likes}}


      {{#showDeleteIfOwner}}
      {{loggedInUser}}
      {{/showDeleteIfOwner}}
    </span>
</fieldset>
{{/model}}
