<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gab Home</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>

        <form class="" action="/gabhome" method="post">
          <input type="submit" name="" value="Gabble">
        </form>

        <form class="" action="/creategab" method="post">
          <input type="submit" name="" value="Create a new Gab">
        </form>

        {{#name}}
          <form class="" action="/signup" method="post">
            <input type="submit" name="" value="Logged in as {{name}}">
          </form>
        {{/name}}

        {{#signedIn}}
          <form class="" action="/login" method="post">
            <input type="submit" name="" value="Log out">
          </form>
        {{/signedIn}}

        {{^signedIn}}
        <form class="" action="/login" method="post">
          <input type="submit" name="" value="Log in">
        </form>
        {{/signedIn}}

    </header>

{{#model}}
<fieldset class="section">
<form class="" action="/likes/:{{id}}" method="post">
  <p>{{user.name}}: {{text}}
  <span>
    <input type="submit" name="like" value="like" id="{{id}}">
    <input type="hidden" name="like" value="{{id}}">
  </form>
  </span>
</p>
  <p>{{createdAt}}
  </p>
  {{#likes}}
  <p>{{numberOfLikes}} like
  {{/likes}}
  {{^likes}}
  <p>No likes yet
  {{/likes}}
    <span>
      {{#loggedIn}}
      <form class="" action="/delete/:{{id}}" method="post">
      <input type="submit" name="like" value="Delete" id="{{id}}">
    </form>

      {{/loggedIn}}
    </span>
  </p>
</fieldset>
{{/model}}
