<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" href="/static/styles.css">

  </head>
  <body>
    <header>

      <header>
        <form class="" action="/gabhome" method="post">
          <input type="submit" name="" value="Gabble">
        </form>

        <form class="" action="/creategab" method="get">
          <input type="submit" name="" value="Create a new Gab">
        </form>

        {{#name}}
          <form class="" action="/signup" method="post">
            <input type="submit" name="" value="Logged in as {{name}}">
          </form>
        {{/name}}

        {{#signedIn}}
          <form class="" action="/login" method="post">
            <input type="submit" name="" value="Log out">
          </form>
        {{/signedIn}}

        {{^signedIn}}
        <form class="" action="/login" method="post">
          <input type="submit" name="" value="Log in">
        </form>
        {{/signedIn}}


      <ul>
        <span>
        <li id="home"><a href="#">Gabble</a></li>
        <li id="create"><a href="#">Create a new Gab</a></li>
        <!--loggedIn should be boolean  -->
        {{#loggedIn}}
        <li id="user"><a href="#">Logged in as {{name}}</a></li>
          {{/loggedIn}}
        <!-- signedIn should be boolean -->
        {{#signedIn}}<li id="logOut"><a href="#">Log out</a></li>{{/signedIn}}
      {{^signedIn}}<li id="logIn"><a href="#">Log in</a></li>{{/signedIn}}
    </span>
      </ul>

    </header>
    <div class="endFloat">

    </div>
  </body>
</html>
