<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>likes</title>
    <link rel="stylesheet" href="/static/styles.css">

  </head>
  <body>
    <header>

      <ul>
        <span>
        <li>Gabble</li>
        <li>Create a new Gab</li>
        <!--loggedIn should be boolean  -->
        {{#loggedIn}}
        <li>Logged in as {{name}}</li>
          {{/loggedIn}}
        <!-- signedIn should be boolean -->
        {{#signedIn}}<li>Log out</li>{{/signedIn}}
      {{^signedIn}}<li>Log in</li>{{/signedIn}}
    </span>
      </ul>

    </header>

    {{#model}}
      <p>{{user.name}}: {{text}}</p>
      <p>{{createdAt}}</p>
      <h4>Liked by</h4>
      {{#likes}}
      <ul>
        <li>{{user.name}}</li>
      </ul>
      {{/likes}}
    {{/model}}
  </body>
</html>
