<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
<header>

  <form class="" action="/gabhome" method="post">
    <input type="submit" name="" value="Gabble">
  </form>

  <form class="" action="/creategab" method="post">
    <input type="submit" name="" value="Create a new Gab">
  </form>

  {{#name}}
    <form class="" action="/signup" method="post">
      <input type="submit" name="" value="Logged in as {{name}}">
    </form>
  {{/name}}

  {{#signedIn}}
    <form class="" action="/login" method="post">
      <input type="submit" name="" value="Log out">
    </form>
  {{/signedIn}}

  {{^signedIn}}
  <form class="" action="/login" method="post">
    <input type="submit" name="" value="Log in">
  </form>
  {{/signedIn}}

</header>

<div class="endFloat">

</div>

  <form class="login" action="/login" method="post">
    <div>
      <label for="name">Username</label>
      <input type="text" name="name" value="">
    </div>
    <div>
      <label for="">Password</label>
      <input type="password" name="password" value="">
    </div>

    <input type="submit" name="" value="Enter">
  </form>

</body>

</html>
