<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles.css">

  </head>
  <body>
    <header>

      <ul>
        <span>
        <li>Gabble</li>
        <li>Create a new Gab</li>
        <!--loggedIn should be boolean  -->
        {{#loggedIn}}
        <li>Logged in as {{name}}</li>
          {{/loggedIn}}
        <!-- signedIn should be boolean -->
        {{#signedIn}}<li>Log out</li>{{/signedIn}}
      {{^signedIn}}<li>Log in</li>{{/signedIn}}
    </span>
      </ul>

    </header>


{{msg}}

<form class="" action="/signup" method="post">
  <div>
  <label for="name">Username</label>
  <input type="text" name="name" value="" id="name" placeholder="Username">
</div>
  <div>
  <label for="password">Password</label>
  <input type="password" name="password" value="" id="password" placeholder="max length 12 characters">
</div>
  <div>
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" value="" id="confirmPw" placeholder="please retype your password">
</div>
  <div>
<input type="submit" name="" value="Submit">
</div>
</form>


  </body>
</html>
